<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.i_fit">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/images"
        android:label="@string/app_name"
        android:roundIcon="@drawable/images"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.DescriptionActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".Activities.NutritionActivity"></activity>
        <activity
            android:name=".Activities.MainMenuActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.TabataDaysActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.Main3Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.TabataWorkoutActivity" />
        <activity
            android:name=".Activities.SongsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activities.SplashActivity">

        </activity>
    </application>

</manifest>